<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.spring.board.BoardMapper">

    <select id="findAll" resultType="Board">
        SELECT id, title, content, writer, created_at
        FROM board
        ORDER BY id DESC
    </select>

    <select id="findById" parameterType="long" resultType="Board">
        SELECT id, title, content, writer, created_at
        FROM board
        WHERE id = #{id}
    </select>

    <insert id="save" parameterType="Board">
        INSERT INTO board(title, content, writer)
        VALUES (#{title}, #{content}, #{writer})
    </insert>

    <update id="update">
        UPDATE board
        SET title = #{board.title},
            content = #{board.content},
            writer = #{board.writer}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM board
        WHERE id = #{id}
    </delete>

    <resultMap id="boardMap" type="Board">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="writer" column="writer"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findAllWithMap" resultMap="boardMap">
        SELECT id, title, content, writer, created_at
        FROM board
        ORDER BY id DESC
    </select>

</mapper>